<div class="row">
      <div class="col-xl col-md-6 col-12">
         <div class="card">
            <div class="card-body">
               <div class="align-items-center row">
                  <div class="col">
                     <h6 class="text-uppercase text-muted mb-2">Loan</h6>
                     <span class="h2 mb-0">
					 	<%= total_loan %>
					 </span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl col-md-6 col-12">
         <div class="card">
            <div class="card-body">
               <div class="align-items-center row">
                  <div class="col">
                     <h6 class="text-uppercase text-muted mb-2">Income</h6>
                     <span class="h2 mb-0">
					 	<%= total_income %>
					 </span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl col-md-6 col-12">
         <div class="card">
            <div class="card-body">
               <div class="align-items-center row">
                  <div class="col">
                     <h6 class="text-uppercase text-muted mb-2">
					 	Total Expense
					 </h6>
                     <span class="h2 mb-0">
					 	<%= total_expense %>
					 </span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl col-md-6 col-12">
         <div class="card">
            <div class="card-body">
               <div class="align-items-center row">
                  <div class="col">
                     <h6 class="text-uppercase text-muted mb-2">
					 	Monthly Budget
					 </h6>
                     <span class="h2 mb-0">
					 	<%= total_budget %>
					 </span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>