<div class="row">
      <div class="col-xl-8 col-12">
         <div class="card">
            <div class="card-header">
               <h4 class="card-header-title">Conversions</h4>
               <span class="text-muted me-3">Last year comparision:</span>
               <div class="form-switch"><input type="checkbox" id="cardToggle" class="form-check-input"></div>
            </div>
            <div class="card-body">
               <div class="chart">
                  <canvas role="img" style="display: block; box-sizing: border-box; height: 300px; width: 594px;" width="1189" height="600"></canvas>
                  <div id="chart-tooltip" role="tooltip" class="popover bs-popover-top" style="visibility: hidden; left: 83.2957px; top: 102.775px; transform: translateX(-50%) translateY(-100%) translateY(-1rem);">
                     <div class="popover-arrow translate-middle-x"></div>
                     <div class="popover-content">
                        <div>
                           <h3 class="popover-header text-center text-nowrap">Oct 1</h3>
                        </div>
                        <div>
                           <div class="popover-body d-flex align-items-center text-nowrap justify-content-center"><span class="popover-body-indicator" style="background-color: rgb(44, 123, 229);"></span> 25%</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-4 col-12">
         <div class="card">
            <div class="card-header">
               <h4 class="card-header-title">Traffic Channels</h4>
               <div class="nav-tabs-sm nav card-header-tabs nav-tabs">
                  <div class="nav-item"><a role="button" class="nav-link active" tabindex="0" href="#">All</a></div>
                  <div class="nav-item"><a role="button" class="nav-link" tabindex="0" href="#">Direct</a></div>
               </div>
            </div>
            <div class="card-body">
               <div class="chart chart-appended">
                  <canvas role="img" style="display: block; box-sizing: border-box; height: 240px; width: 260px;" width="520" height="481"></canvas>
               </div>
               <div class="chart-legend">
                  <div class="chart-legend-item"><i class="chart-legend-indicator" style="background-color: rgb(44, 123, 229);"></i> Direct</div>
                  <div class="chart-legend-item"><i class="chart-legend-indicator" style="background-color: rgb(166, 197, 247);"></i> Organic</div>
                  <div class="chart-legend-item"><i class="chart-legend-indicator" style="background-color: rgb(210, 221, 236);"></i> Referral</div>
               </div>
            </div>
         </div>
      </div>
   </div>