<div class="header">
   <div class="container-fluid">
      <div class="header-body">
         <div class="row align-items-end row">
            <div class="col">
               <h6 class="header-pretitle">Overview</h6>
               <h1 class="header-title">Dashboard</h1>
            </div>
            <div class="col-auto">
               <button type="button" class="lift btn btn-primary">Create Report</button>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid">
   
   <%=
      render partial: "counts", locals: {
         total_loan: @formatted_total_loan,
         total_income: @formatted_total_income,
         total_expense: @formatted_total_expense,
         total_budget: @formatted_total_budget
      }
   %>
   
   <%= render "graphs" %>

   <%= render partial: "goals", goals: @goals %>
</div>
