<div id="<%= dom_id loan_payment %>">
  <p>
    <strong>Loan:</strong>
    <%= loan_payment.loan_id %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= loan_payment.payment_date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= loan_payment.amount %>
  </p>

</div>
