<div class="justify-content-center row">
   <div class="py-6 col-xl-8 col-lg-10 col-12">
      <div class="justify-content-center row">
         <div class="text-center col-xl-6 col-lg-8 col-md-10 col-12">
            <h6 class="mb-4 text-uppercase text-muted">Payback</h6>
            <h1 class="mb-3">Editing Loan Payment</h1>
            <p class="mb-5 text-muted">Making loan payment back to <%= @loan.lender %> </p>
         </div>
      </div>
      
      <%= render "form", loan_payment: @loan_payment, loan: @loan %>
      
   </div>
</div>