<h1>Editing loan payment</h1>

<%= render "form", loan_payment: @loan_payment %>

<br>

<div>
  <%= link_to "Show this loan payment", @loan_payment %> |
  <%= link_to "Back to loan payments", loan_payments_path %>
</div>
