<h1>Editing debt payment</h1>

<%= render "form", debt_payment: @debt_payment %>

<br>

<div>
  <%= link_to "Show this debt payment", @debt_payment %> |
  <%= link_to "Back to debt payments", debt_payments_path %>
</div>
