<div class="header">
    <div class="header-body">
      <div class="align-items-center row">
          <div class="col">
            <h6 class="header-pretitle">Overview</h6>
            <h1 class="header-title text-truncate"><%= 'Budgets' %></h1>
          </div>
          <div class="col-auto">

            <%= link_to "New Budget", new_budget_path, type: "button", class: "btn btn-primary" %>

          </div>
      </div>
    </div>
</div>
