<div id="<%= dom_id income_source %>">
  <p>
    <strong>Name:</strong>
    <%= income_source.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= income_source.description %>
  </p>

</div>
