<h1>Editing income source</h1>

<%= render "form", income_source: @income_source %>

<br>

<div>
  <%= link_to "Show this income source", @income_source %> |
  <%= link_to "Back to income sources", income_sources_path %>
</div>
