<h1>Editing goal progress</h1>

<%= render "form", goal_progress: @goal_progress %>

<br>

<div>
  <%= link_to "Show this goal progress", @goal_progress %> |
  <%= link_to "Back to goal progresses", goal_progresses_path %>
</div>
